.mat-card-image{
  object-fit: cover;  
  display: block;
  max-width:230px;
  max-height:100px;
  width: auto;
  height: auto;
  margin: 0px auto !important;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.mat-card-title{
    font-size: 16px;
    font-weight: bold;
}

.mat-card-subtitle{
    font-size: 12px;
}

.content-footer{
    font-size: 12px;
    font-weight: bold;
}

.search-mat-input{
    width: 100% !important;
}

.title-div{
    font-size: 16px;
    font-weight: bold;
}
.tagline-span{
    color: rgba(0,0,0,.54);
    font-size: 12px;
    margin-bottom: 10px;
}