<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="rightContainer">
    <div class="row margin10">
      <div class="col-md-8 col-md-offset-2">
        <!--Random Punk Code Begin-->
        <div class="row">
          <div class="col-md-12">
            <mat-card class="random-punk-card" matRipple *ngIf="randomPunkSubject$ | async as randomData; else loader">
              <mat-card-header>
                <mat-card-title>{{randomData.name}}</mat-card-title>
                <mat-card-subtitle>{{randomData.tagline}}</mat-card-subtitle>

              </mat-card-header>

              <mat-card-content>
                <mat-divider [inset]="true"></mat-divider>
                <div class="row margin-top-20">
                  <div class="col-md-3">
                    <img mat-card-image src="{{randomData.image_url}}" alt="Photo of a Shiba Inu">
                  </div>
                  <div class="col-md-6">
                    <p>
                      {{randomData.description}}
                    </p>
                    <p class="content-footer">
                      <span>
                        Contributed By: {{randomData.contributed_by}}
                      </span>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <span>
                        First Served: {{randomData.first_brewed}}
                      </span>
                    </p>
                  </div>
                  <div class="col-md-3">
                    <button mat-raised-button color="primary" (click)="getRandomPunk()">Another Beer</button>
                    <div class="margin-top-20"></div>
                    <button mat-raised-button color="warn" (click)="getNonAlcoholicRandomPunk()">Non Alcoholic Random Beer</button>
                  </div>
                </div>
                <div class="col-md-12">
                  <mat-divider></mat-divider>
                </div>
                <!--Punk Search Begin-->
                <form [formGroup]="searchFormGroup" (ngSubmit)="searchPunks()">
                <div class="row margin-top-20">
                  <div class="col-md-5">
                    <mat-form-field class="search-mat-input" hideRequiredMarker="false" appearance="outline">
                      <mat-label>Search Punk</mat-label>
                      <input matInput formControlName="query" placeholder="Enter something to search...">
                      <mat-icon matSuffix>search</mat-icon>
                      <mat-hint>What's you looking for? Just write here and search your punk. </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-radio-group formControlName="option" class="option-mat-radio">
                      <mat-radio-button value="name">By Name</mat-radio-button>
                      <mat-radio-button value="description">By Description</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-3">
                    <button mat-raised-button color="primary">Search</button>
                  </div>
                </div>
              </form>
                <!-- Punk Search End-->
                <!-- Punk Result Begin-->
                <!-- Punk Result End-->
              </mat-card-content>
            </mat-card>
            <ng-template #loader>
              <div>LOADING.....</div>
            </ng-template>
          </div>
        </div>
        <!--Random Punk Code End-->
      </div>
    </div>
  </div>
</div>